# Dependencies & vendor
/node_modules

# Environment & secrets
.env
.env.backup
.env.production

# Laravel specific
/storage/*.key
/storage/documents
/phpunit.result.cache
.phpunit.cache/
Homestead.json
Homestead.yaml
auth.json

# Local development tools & IDE
/.fleet
/.idea
/.vscode
/.history

# Logs & debug outputs
npm-debug.log
yarn-error.log
